$primary:#FFFFFF;
$secondry:#006B8D;
$tertiary: #AE9A64;
$success: #706F6F;






// FONT FAMILIES
/* stylelint-disable */
$font-myriad-pro-cufonfonts: myriadpro-regular,sans-serif;
/* stylelint-enable */