* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/pattern.png');
  margin: 0;
  padding: 0;
  position: relative;
}



.hide-on-mobile {
  display: none !important;

  @include tablet {
    display: block !important;
  }

  @include desktop {
    display: block !important;
  }
}

.hide-on-tablet-n-desktop {
  display: block !important;

  @include tablet {
    display: none !important;
  }

  @include desktop {
    display: none !important;
  }
}

.hide-on-tablet {
  display: block !important;

  @include tablet {
    display: none !important;
  }

  @include desktop {
    display: block !important;
  }
}

.hide-on-tablet-n-moblie {
  display: none !important;

  @include tablet {
    display: none !important;
  }

  @include desktop {
    display: block !important;
  }
}



#block-sass-theme-msd-breadcrumbs {
  @extend .container;

  nav[role="navigation"] ol {
    list-style: none;
    margin: 0;
    display: flex;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  nav[role="navigation"] li {
    display: flex;
    align-items: center;
    @extend .h5;
    color: $secondary;
  }

  nav[role="navigation"] li+li:before {
    content: ">";
    color: $tertiary;
    padding-right: 8px;
  }

  nav[role="navigation"] a {
    color: $tertiary;
    text-decoration: none;
  }
}

.college-content .college-menu .sf-accordion-toggle.sf-style-none+ul {
  display: block !important;
}

.college-content .college-menu .sf-accordion-toggle.sf-style-none+ul.sf-hidden {
  display: block !important;
}


.link-button {
  border: 1px solid $tertiary;
  padding: 10px 40px;
  text-align: center;
  @include tablet{
    padding: 10px 59px;
  }

  @include tablet {
    padding: 10px 50px;
    display: inline;
  }

  a {

    font-family: $font_tajawal;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-decoration: none;
    color: $tertiary;


  }

  &:hover {
    background-color: $primary;

    a {
      color: $white;
    }

  }

}