.container {
  padding-inline: 15px !important;
  margin-inline: auto;

  @include tablet {
    padding-inline: 25px !important;
  }

  @include desktop {
    padding-inline: 40px !important;
    margin-inline: auto !important;
    max-width: 1280px;
  }
}

