// Myriad Pro //
@font-face {
  font-family: myriad_pro;
  src: url(../fonts/Myriad_pro/MYRIADPRO-BOLD.OTF);
  font-weight: 700;
}

@font-face {
  font-family: myriad_pro;
  src: url(../fonts/Myriad_pro/MYRIADPRO-REGULAR.OTF);
  font-weight: 400;
}