@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'tajawal';
  src: url(../fonts/Tajawal/ArbFONTS-Tajawal-Black.ttf);
  font-weight: 900;
}