.grid,
%grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}