// FONT FAMILIES
/* stylelint-disable */
$font_myriad_pro:myriad_pro , sans-serif;

.h1,
h1 {
  font-family: $font_myriad_pro;
  font-size: 56px;
  line-height: 75px;
}

.h2,
h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
}

.h3,
h3 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
}

.h4,
h4 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.h5,
h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.h6,
h6 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}


.body1 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.body2 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

// BUTTONS
.button {
  @extend .h6;
  border-radius: 20px;
}
