h2 {
    color: $secondary;
}

.accordion {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;

    h4 {
        color: $secondary;
    }

    svg {
        height: 24px;
        width: 24px;
        fill: #007b8a;
    }

    .icon {
        margin-right: 10px;
        display: flex;
    }

    .arrow {
        margin-left: 10px;
        transition: transform 0.8s;
    }
}

.accordion.open .arrow {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;

    p {
        @extend .body2;
    }
}

.accordion.open+.accordion-content {
    display: block;
}


.sidebar-section {
    display: flex;
    gap: 60px;
    flex-direction: column;
    padding-bottom: 60px;

    @include desktop {
        flex-direction: row;
        gap: 73px;
    }

    .sidebar-left {
        border-radius: 10px;
        border: 1px solid $light-gray;
        height: 350px;
        background-color: $gray-light;
        width: 100%;

        @include tablet {
            width: 400px;
        }

        ul {
            width: inherit;
            padding-top: 30px;


            li {
                @extend .h5;
                list-style: none;
                display: flex;
                margin-bottom: 4px;

                a {
                    text-decoration: none;
                    color: $tertiary;
                    padding-block: 8px;
                    padding-inline: 18px;
                    width: 100%;
                    &.is-active {
                        color: $white;
                        background-color: $secondary;
                    }
                }



                &:hover {
                    background-color: $secondary;

                    a {
                        color: $white !important;
                    }
                }
            }
        }
    }

    .sidebar-right {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        .sidebar-right_text {

            h4 {
                color: $secondary;
            }

            p {
                @extend .body2;
            }
        }

        .btn {
            display: flex;
            margin-bottom: 30px;
            margin-top: 20px;

            button {
                background-color: unset;
                border: unset;
                width: 100%;

                @include tablet {
                    width: unset;
                }

                a {
                    @extend .h6;
                    text-decoration: none;
                    color: $tertiary;
                    padding-inline: 50px;
                    padding-block: 10px;
                    border: 1px solid $tertiary;
                    background-color: transparent;

                    &:hover {
                        background-color: $primary;
                        color: $white;

                    }
                }
            }
        }

        .sidebar-right_image {
            height: 100%;
            text-align: center;

            img {
                width: 295px;
                height: 399px;
                border-radius: 10px;
                object-fit: cover;
            }

            h4 {
                text-align: center;
            }
        }

        .department {
            .department-left {
                h2 {
                    @extend .h4;
                }
            }

            .department-right {
                align-self: center;

                @include desktop {
                    align-self: unset;
                }

                .department-caption {
                    h2 {
                        @extend .h4;
                        font-weight: 400;
                        color: $black !important;
                    }
                }
            }
        }
    }

    .sidebar-right.specific {
        flex-direction: column;
    }

    .sidebar-right.policies {
        flex-direction: column;
        gap: 0px !important;
    }

    .trustees-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 73px;
        }

        @include desktop {
            gap: 102px;
        }
    }
}

.submenu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.has-submenu {
    margin-bottom: 0.5rem;
}

.submenu {
    display: none;
    padding-left: 1.25rem;
}

.has-submenu.open>.submenu {
    display: block;

}

.has-submenu.open {
    background-color: $secondary !important;

    a {
        color: $white !important;
    }

    .submenu-toggle::after {
        color: $white;
    }
}

.submenu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 24% 10px 0px;
    [dir="rtl"] & {
        padding: 10px 15% 10px 25%;
    }

}

.submenu-toggle::after {
    content: "" !important;
    background-image: url(../icons/Untitled-3.svg) !important;
    background-position: center;
    background-repeat: no-repeat !important;
    width: 16px;
    height: 8px;
    background-size: cover;
    display: block !important;
    padding-top: 10px;
    filter: invert(1);
}

.has-submenu.open .submenu-toggle::after {
    background-image: url(../icons/Untitled-3.svg) !important;
    transform: rotate(180deg);
   filter: invert(0);

}

.menu-item-wrapper {
    display: flex;
    align-items: start;

    &:hover {
        a {
            color: $white !important;
        }

        .submenu-toggle::after {
            filter: invert(0);
        }
    }
}