h2 {
    color: $secondary;
}

.accordion {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
   h4 {
        color: $secondary;
    }

    svg {
        height: 24px;
        width: 24px;
        fill: #007b8a;
    }

    .icon {
        margin-right: 10px;
        display: flex;
    }

    .arrow {
        margin-left: 10px;
        transition: transform 0.3s;
    }
}

.accordion.open .arrow {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;

    p {
        @extend .body2;
    }
}

.accordion.open+.accordion-content {
    display: block;
}


.sidebar-section {
    display: flex;
    gap: 60px;
    flex-direction: column;
    padding-block: 60px;

    @include desktop {
        flex-direction: row;
        gap: 73px;
    }

    .sidebar-left {
        border-radius: 10px;
        border: 1px solid $light-gray;
        height: 350px;
        background-color: $white;
        width: 100%;

        @include tablet {
            width: 400px;
        }

        ul {
            width: inherit;
            padding-top: 30px;


            li {
                @extend .h5;
                list-style: none;
                display: flex;
                margin-bottom: 4px;

                a {
                    text-decoration: none;
                    color: $tertiary;
                    padding-block: 8px;
                    padding-inline: 18px;
                    width: 100%;
                }

                a.is-active {
                    color: $white;
                    background-color: $secondary;
                }

                &:hover {
                    background-color: $secondary;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    .sidebar-right {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        .sidebar-right_text {

            h4 {
                color: $secondary;
            }

            p {
                @extend .body2;
            }
        }

        .btn {
            display: flex;
            margin-bottom: 30px;
            margin-top: 20px;

            button {
                background-color: unset;
                border: unset;
                width: 100%;

                @include tablet {
                    width: unset;
                }

                a {
                    @extend .h6;
                    text-decoration: none;
                    color: $tertiary;
                    padding-inline: 50px;
                    padding-block: 10px;
                    border: 1px solid $tertiary;
                    background-color: transparent;

                    &:hover {
                        background-color: $primary;
                        color: $white;

                    }
                }
            }
        }

        .sidebar-right_image {
            height: 100%;
            text-align: center;

            img {
                width: 295px;
                height: 399px;
                border-radius: 10px;
                object-fit: cover;
            }

            h4 {
                text-align: center;
            }
        }
    }

    .sidebar-right.specific {
        flex-direction: column;
    }

    .sidebar-right.policies {
        flex-direction: column;
        gap: 0px !important;
    }

    .trustees-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 73px;
        }

        @include desktop {
            gap: 102px;
        }
    }
}


.colleges-node {
    article {
        .paragraph--type--text-with-banner {
            display: none;
        }

        h2 {
            a {
                span {
                    display: none;
                }
            }
        }

    }
}

.carosal_wrapper {
    margin-top: 30px;

    @include tablet {
        padding-inline: 80px;
    }

    @include desktop {
        padding-inline: 55px;
    }

    .make-carosel {
        .slick-arrow {
            background-color: $gray-light !important;
            top: 40.4% !important;
            transform: translate(0, -40%);
            width: 50px;
            height: 50px;
            border-radius: 10px;

            &:hover::before {
                color: $white !important;
                filter: brightness(0) invert(1);
            }

            @include tablet {
                width: 55px;
                height: 55px;
            }

            @include desktop {
                top: 35% !important;
            }
        }

        .slick-prev,
        .slick-next {
            &::before {
                content: "" !important;
                display: inline-block;
                width: 30px;
                height: 30px;
                background-image: url('../icons/slick_arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                @include desktop {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .slick-prev {
            @include tablet {
                [dir="ltr"] & {
                    left: -10% !important;
                }
            }

            @include desktop {
                [dir="ltr"] & {
                    left: -5% !important;
                }
            }

            &::before {
                [dir="rtl"] & {
                    transform: rotate(180deg);
                }
            }
        }

        .slick-next {
            @include tablet {
                [dir="ltr"] & {
                    right: -10% !important;
                }
            }

            @include desktop {
                [dir="ltr"] & {
                    right: -5% !important;
                }
            }

            &::before {
                [dir="ltr"] & {
                    transform: rotate(180deg);
                }
            }
        }

        .profile-wrapper {
            @include tablet {
                margin-inline: 10px;
            }

            @include desktop {
                margin-inline: 38px;
            }

            a {
                .profile-image {
                    height: 235px !important;

                    @include desktop {
                        height: 288px !important;
                    }

                    img {
                        height: 100%;
                    }
                }
            }
        }

        .slick-track {
            @include tablet {
                gap: 0px !important;
            }
        }
    }
}