.paragraph--type--label-text-wrapper2 {
    @extend .container;

    .paragraph--type--label-with-text {
        .field-items {
            position: relative;

            h2 {
                &::before {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: -3px;
                    bottom: 3px;
                    height: 53px;
                    width: 8px;
                    background-color: #dcbf85;
                    border-radius: 10px;
                }
            }
        }

        p {
            @extend .body2;
            padding-bottom: 30px;
        }


        .table {
            border-spacing: 0;
            width: 100%;
            margin-bottom: 60px;


            thead {
                tr {
                    @extend .body3;
                    font-weight: 600;

                    @include tablet {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 27px;
                      }
                    
                      @include desktop {
                        font-size: 20px;
                      }

                    th {
                        border-bottom: 1px solid $black;
                        text-align: left;
                        padding-block: 10px;
                        color: $secondary;
                        font-weight: 400;
                        padding-inline: 5px;

                        @include tablet {
                            padding-right: 20px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        @extend .body3;
                        font-weight: 600;
    
                        @include tablet {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 27px;
                          }
                        
                          @include desktop {
                            font-size: 20px;
                          }
    
                        color: #706F6F;
                        border-bottom: 1px solid #000;
                        padding-block: 10px;
                        padding-inline: 5px;


                        @include tablet {
                            padding-right: 20px;
                        }

                        a {
                            text-decoration: none;
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

