
.accreditation-title {
  @extend .container;
  margin-block: 30px;
  text-align: center;

  @include tablet {
    text-align: left;
   }
   [dir="rtl"] & {
 @include tablet {
    text-align: right;
  }
}
}

.accreditation-bg-color{
   background-color: $primary;
   padding-block: 30px;
   margin-bottom: 60px;

.Accreditation-wrappper {
    grid-column: 1/-1;
    justify-self: center;
    @include tablet{
       grid-column:span 4;
    }
    @include desktop{
        grid-column:span 3;
    }
}
.Accreditation {
  position: relative;
  display: inline-block;
}

.Accreditation-image  {
 
  height: 324px;
  @include desktop{
    height: 245px;
  }
 img{
  display: block;
  width: 100%;
  height: 100%;
  
 }
}

/* Initially hide the body */
.Accreditation-body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $secondary;
  color: $white;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.9;
 
}

/* Show the body on hover */
.Accreditation:hover .Accreditation-body {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
   p{
    color: $white;
  }
 }
}

