

.accreditation-bg-color {
  background-color: $off-white;
  opacity: 0.9;
  padding-block: 30px;
  @include desktop{
    padding-block: 58px;
  }
  .accreditation-title {
  @extend .container;
  padding-bottom: 30px;
  text-align: center;
  color: $secondary;

  @include tablet {
    text-align: left;
  }

  [dir="rtl"] & {
    @include tablet {
      text-align: right;
    }
  }
}

  .accreditation-main-wrapper {
       @include tablet {
        grid-template-columns: repeat(9, 1fr);
      }
       @include desktop {
       grid-template-columns: repeat(10, 1fr);
    }

    .paragraph--type--accreditations-achievements {
      grid-column: span 2;
      @include tablet {
        grid-column: span 3;
      }
      @include desktop {
        grid-column: span 2;
      }
    }
  }

  .accreditation-wrappper {
    border: 1px solid black;
    border-radius: 50%;
    padding: 16px;
    background-color: $white;
    @include tablet {
      padding: 37px;
    }
    .accreditation {
      position: relative;
      display: inline-block;

      .accreditation-image {
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .accreditation-body {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 2;
        border-radius: 50%;
        opacity: 0.9;
        p{
          @extend .body2;
        }

      }

      .accreditation-image {
        width: 100px;
        height: 100px;

        @include tablet {
          width: 119px;
          height: 119px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

    }

  }

  /* Show the body on hover */
  .accreditation-wrappper:hover .accreditation-body {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    p {
      color: $white;
      font-size: 10px !important;
      line-height: 18px;

      [dir="rtl"] & {
        font-size: 8px !important;
      }

      @include mobile {
        font-size: 11px !important;

        [dir="rtl"] & {
          font-size: 10px !important;
        }

      }

      @include tablet {
        font-size: 13px !important;
        line-height: 24px !important;

        [dir="rtl"] & {
          font-size: 13px !important;
          line-height: 24px !important;
        }

      }

      @include desktop {
        font-size: 13px !important;
        line-height: 28px !important;

        [dir="rtl"] & {
          font-size: 12px !important;
          line-height: 28px !important;
        }

      }

    }

    h5 {
      font-size: 12px;
      line-height: 18px;

      @include mobile {
        font-size: 16px;
        line-height: 24px;
      }

      @include tablet {
        font-size: 20px !important;
        line-height: 32px !important;
      }
    }
  }
}

.accreditation-wrappper {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: $white;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s ease;
}

.accreditation-wrappper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $secondary;
  transform: translatey(100%);
  transition: transform 0.4s ease;
  z-index: -1;
}

.accreditation-wrappper:hover::before {
  transform: translateX(0);
}