.paragraph--type--admission-steps-wrapper {
  @extend .container;
  padding-block: 60px;
  @extend .grid;

  .paragraph--type--admission-steps {
    grid-column: span 5;
    position: relative;

    @include tablet {
      grid-column: span 4;
    }
  }

  .admission-step-card {
    background-color: $half-gray;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 376px;
    padding: 32px;
    position: relative;

    .card-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   

    .card-icon {
      background: $secondary;
      padding: 30px;
      width: 172px;
      height: 172px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 114.169px;
        height: 91.474px;
      }
    }

    .card-text {
      h4 {
        text-align: center;
      }
    }
     }


    .hover-text {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #0077a3;
      color: #fff;
      opacity: 0;
      z-index: 2;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: opacity 0.4s ease-in-out;

      h6 {
        padding-block: 10px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }


  p {
    padding-top: 25px;

    a {
      padding: 10px 50px 10px 50px;
      border: 1px solid $white;
      background-color: $secondary;
      color: $white;
      font-size: 20px;
      line-height: 27px;
      cursor: pointer;
      text-decoration: none;

      &::after {
        content: url(../icons/fluent_arrow-left-16-filled.svg);
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
      }


    }
  }

}