.college-page-wrapper {
    .college {
        .college-content {
            display: flex;
            gap: 66px;
            flex-direction: column;

            @include desktop {
                flex-direction: row;
            }

            .college-left {
                .college-menu {
                    background-color: $gray-light;
                    border-radius: 10px;
                    margin-bottom: 30px;
                    width: 355px;

                    ul {
                        list-style: none;
                        float: none !important;
                        padding: 29px 0px !important;

                        li {
                            cursor: pointer;

                            a {
                                &:first-of-type {
                                    @extend .h6;
                                    text-decoration: none;
                                    color: $tertiary;
                                    padding-inline: 10px 0 !important;
                                    padding-block: 9px;

                                    &:focus-within {
                                        background-color: $secondary;
                                        color: $white;
                                    }
                                }

                                .sf-sub-indicator {
                                    &:active {
                                        display: inline-block;
                                        transition: transform 0.3s ease;
                                        transform: rotate(-180deg);
                                    }
                                }
                            }

                            ul {
                                padding: 0 !important;

                                li {
                                    background-color: $white !important;
                                    border-top: 2px solid $white;

                                    a {
                                        color: $tertiary !important;
                                        padding-block: 8px !important;
                                        width: 100%;
                                    }

                                    &:hover {
                                        background-color: $secondary !important;


                                        a {
                                            color: $white !important;
                                        }
                                    }

                                }
                            }

                            &:hover {
                                background-color: $secondary !important;
                            }
                        }
                    }

                    .sf-accordion-toggle.sf-style-none {
                        display: none !important;
                    }
                }

                .college-text-block {
                    .paragraph--type--label-with-text {

                        background-color: $gray-light;
                        border-radius: 10px;
                        padding: 15px 15px 15px 11px;
                        margin-bottom: 20px;

                        @include tablet {
                            padding: 15px 8px 15px 8px;
                        }

                        @include desktop {
                            margin-bottom: 100px;
                            padding: 40px 57px 40px 20px;

                            [dir="rtl"] & {
                                padding: 40px 20px 40px 57px;
                            }

                        }

                        .field-items {
                            h2 {
                                padding-bottom: 10px;

                                @include tablet {
                                    padding-bottom: 5px;
                                }

                                @include desktop {
                                    padding-bottom: 10px
                                }
                            }
                        }

                        p {
                            @extend .body2;
                        }
                    }
                }
            }

            .college-right {
                position: relative;
                overflow: hidden;

                p {
                    padding-block: 10px 60px;

                }

                .college-deans {
                    .college-message {
                        flex: 1;

                        h2 {
                            white-space: nowrap;
                        }

                        p {
                            padding-block: 10px 20px;

                            @include tablet {
                                padding-block: 2px 30px;
                            }

                            @include desktop {
                                padding-block: 10px 92px;
                            }
                        }
                    }

                    @include tablet {
                        display: flex;
                        flex-direction: column;

                    }

                    @include desktop {
                        flex-direction: row;
                        gap: 40px;
                    }

                    .college-image {
                        height: 293px;
                        padding-bottom: 78px;
                        flex: 1;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;

                        }
                    }
                }

                p {
                    @extend .body2;
                }

                .department-wrapper {
                    .department {
                        @include desktop {
                            gap: 102px !important;
                        }
                    }
                }
            }
        }
    }
}