.contact-banner {
  position: relative;


  .contact-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 327px;
      object-fit: cover;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
        rgba(0, 107, 141, 0.91) 0%,
        rgba(115, 115, 115, 0) 100%);

  }


  .contact-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    .field-items {
      h2 {
        @extend .h1;
        color: $white;

      }
    }
  }
}

.contact-wrapper {
  text-align: center;
  padding-block: 60px;

  .contact-label {
    .field-items {
      h2 {
        margin-bottom: 29px;
      }
    }
  }

  .contact-description {
    .contact-boxes {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: stretch;
      flex-direction: column;
      @include tablet{
        flex-direction: row;
      }

      .contact-us-left,
      .contact-us-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background: radial-gradient(153.22% 77.46% at 50% 50%, #2795B7 0%, #000 100%);
        border-radius: 8px;
        gap: 25px;
        border-top: 6px solid $primary;

        h5 {
          color: $white;
        }
      }
    }
  }
}

.paragraph--type--news-block-view {
  @extend .container;


  #block-contactus {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    @include tablet{
      gap: 0px;
    }

    p {
      font-size: 14px;
      position: relative;
      margin-top: 30px;
      text-align: center;
      @include tablet{
        font-size: 20px;
      }
    }

    .fontawesome-icon-inline {
      svg {
        position: absolute;
        left: 50%;
        top: -55px; // move above text
        transform: translateX(-50%);
        width: 20px; // icon container size
        height: 20px;
        background-color: $primary;
        border-radius: 10px;
        padding-inline: 10px;
        padding-block: 10px;

        path {
          color: $white;
        }
      }
    }
  }
}



.maps-form-wrapper {
  display: flex;
  gap: 20px;
  margin-block: 60px;
  flex-direction: column;
  @include desktop{
    flex-direction: row;
  }
  .map {
    width: 100%;

    iframe {
      width: 100%;
    }
  }

  .form {
    .js-form-item {
      margin-bottom: 30px;

      input,
      textarea {
        padding: 17px;
        border-radius: 10px;
        border: 2px solid $secondary;
        width: 100%;
        

      }

    }

    .form-actions {
      text-align: center;

      input {
        padding: 10px 50px;
        border: 1px solid $tertiary;
        border-radius: 0px;
        color: $tertiary;
      }
    }
  }

.maps-form-wrapper {
  display: flex;
  gap: 20px;
  margin-block: 60px;

  .map {
    width: 100%;

    iframe {
      width: 100%;
    }
  }

  .form {
    .js-form-item {
      margin-bottom: 30px;
.paragraph--type--faq {
  @extend .container;

  .ckeditor-accordion-container {
    border: 2px solid $secondary !important;
    margin-block: 10px 60px;
dl {
  dt {
    a {
       .ckeditor-accordion-toggle{
      position: absolute !important;
      top: calc(12% - 1px);
      border-radius: 10px;
      @include desktop{
        top: calc(24% - 1px);
      }
     
     }
      span {
        right: 7px !important;
        background-color: $secondary;
        width: 50px;
        height: 50px;
        @include tablet{
          right: 50px !important;
        }
        &::before {
          
           content: url(../icons/vector-7.svg);
           background-color: transparent;
           width: auto;
           height: auto;
           padding-inline: 10px;
           border-radius: 10px;
           left: 10% !important;
           top: 16% !important;
        }
         &::after {
        
         display: none;
        }
      }
    }
  }
   dt.active {
    a {
      span {
        color: yellow !important;
        &::before {
          
           content: url(../icons/vector-7.svg);
           background-color: transparent;
           width: auto;
           height: auto;
           transform: rotate(0deg) !important;
           display: block !important;
        }
         &::after {
        
         display: none;
        }
      }
    }
  }
}


    .ckeditor-accordion-toggler {
      background-color: $white !important;
      color: $secondary !important;
      border-radius: 0px !important;
     
  
    

    }

    .active {
       
      p {
        margin-block: 30px;
        color: $tertiary;
        span {
          @extend .h5;
        }
      }
    }
  }
}

      input,
      textarea {
        padding: 17px;
        border-radius: 10px;
        border: 2px solid $secondary;
      }
    }

    .form-actions {
      text-align: center;

      input {
        padding: 10px 50px;
        border: 1px solid $tertiary;
        border-radius: 0px;
        color: $tertiary;
      }
    }
  }
}
