.department_subpage {
    @extend .grid;

    .paragraph--type--sidebar-menu {
        grid-column: 1/5;

        .college-content {
            display: block;
            margin-top: 0px;
        }
    }

    .paragraph--type--department-section {
        grid-column: 6/-1;

        .paragraph--type--label {
            color: $secondary;
        }

        p {
            @extend .body2;
        }

        ul {
            list-style: none;

            li {
                @extend .h5;
                color: $tertiary;
                padding-bottom: 25px;
                position: relative;
                padding-left: 30px;
    
                [dir="rtl"] & {
                    padding-right: 30px;
                }
    
                &::before {
                    position: absolute;
                    top: 5px;
                    left: -4px;
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    background-color: $primary;
    
                    [dir="rtl"] & {
                        right: 4px;
                    }
    
                }
            }

        }
    }

    .paragraph--type--text-with-file {
        grid-column: 6/-1;

        h5 {
            color: $tertiary;
        }

        .accordion-content {
            display: block;

            .btn {
                display: flex;
                margin-bottom: 30px;
                margin-top: 20px;

                button {
                    @extend .link-button
                }
            }
        }

    }
}