.description{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 100px;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
    .description-text{
        flex: 1;
        h2{
            color: $secondary;
        }
    }
    .description-image{
        width: 340px;
        height: 188px;
        @include tablet{
            width: 237px;
            height: 131px;
        }
        @include desktop{
            width: 505px;
            height: 279px;
        }
     img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }
    }
 }
.description-wrapper:nth-of-type(even){
    .description{
        
        flex-direction: column;
        @include tablet{
        flex-direction: row;
        flex-direction: row-reverse;
    }
        .description-image{
            width: 340px;
            height: 347px;
            @include tablet{
                width: 230px;
                height: 236px;
            }
       @include desktop{
         width: 505px;
          height: 516px;
       }
        img{
         width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
            
        }
        }
    }
}

.description-wrapper:nth-child(3) {
  .description{
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
    .description-image{
        width: 340px;
        height: 340px;
        @include tablet{
            width: 238px;
            height: 238px;
        }
      @include desktop{
          width: 510px;
        height: 510px;
      }
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            }
        }
    }
}





