.hero_section {
    .bg_image {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 800px;
        }

    }

    .hero_section-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about_university {
    width: 60%;
    z-index: 2;
}

[dir="rtl"] h1 {
    font-size: 25px;
    color: red;
}

[dir="rtl"] p {
    font-size: 25px;
    color: yellowgreen;
}

[dir="rtl"] p button {
    font-size: 25px;
    color: black;
    background-color: salmon;
}


.right_section {
    position: relative;
    z-index: 3;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }




    .circle-wrapper {
        position: relative;
        width: 300px;
        height: 300px;
    }

    .background-circle {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #c7b285;
        /* Beige/khaki */
        border-radius: 50%;
        z-index: 0;
    }

    .image-circle {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
    }

    .image-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .arc-circle {
        position: absolute;
        width: 340px;
        height: 340px;
        border-radius: 50%;
        border-top: 8px solid #0082A4;
        /* Blue */
        border-bottom: 8px solid #0082A4;
        border-left: 8px solid transparent;
        border-right: 8px solid #0082A4;
        transform: rotate(90deg);
        top: -20px;
        left: -20px;
        z-index: 2;
    }

    .label {

        .label-item {
            color: white;
            padding-block: 25px;
            background-color: #c7b285;
            border-radius: 50%;
            font-size: 19px;
            text-align: center;
            width: 100px;
            position: absolute;
            z-index: 12;
        }

        .label-item--1 {
            top: 25%;
            left: -25%;
        }

        .label-item--2 {
            top: 25%;
            right: -25%;
        }

        .label-item--3 {
            top: 92%;
            left: 35%;
            padding-block: 35px;
        }
    }


    .program_type {
        @extend .button;
    }
}

.primary-word {
    color: #AE9A64;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


