.header_wrapper {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    @extend .container;

    .flex {
        display: flex;
        justify-content: space-between;

        @include desktop {
            align-items: center;
        }

        #block-sass-theme-msd-sitebranding {
            a {
                img {
                    width: 152px;
                    height: 78px;

                }
            }
        }

        #block-sass-theme-msd-mainnavigation {

            .sf-expanded {
                background-color: $secondary;
                border-radius: 10px;

                &:hover {
                    color: black !important;
                }

            }

            .sf-menu {


                .sf-depth-1 {
                    @extend .h6;
                    color: $white;

                    a {
                        text-decoration: none;
                    }

                    .sf-hidden {
                        width: 1px !important;
                    }

                    ul {


                        background-color: rgba(255, 255, 255, 0.28);
                        border-radius: 10px;
                        overflow: hidden !important;

                        @include desktop {
                            width: 32em !important;
                            display: flex;
                        }

                        .sf-depth-2 {
                            color: $white;
                            opacity: 1;

                        }

                        .sf-depth-2:hover {
                            color: $black !important;
                        }

                    }

                }


            }

            .sf-accordion-toggle {
                text-align: end;

                a {
                    text-decoration: none;

                    span {
                        font-size: 55px;
                        color: $white;
                    }
                }

                .sf-expanded {
                    background-color: transparent !important;
                }
            }
        }
    }
}