.header_wrapper {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    @extend .container;

    .flex {
        display: flex;
        justify-content: space-between;

        @include desktop {
            align-items: center;
        }

        #block-sass-theme-msd-sitebranding,
        #block-sass-theme-msd-sitebranding--2 {
            a {
                img {
                    width: 152px;
                    height: 78px;

                }
            }
        }

        #block-sass-theme-msd-mainnavigation,
        #block-sass-theme-msd-mainnavigation--2 {

            .sf-expanded {
                background-color: $secondary;
                border-radius: 10px;

                &:hover {
                    color: black !important;
                }

            }

            .sf-menu {


                .sf-depth-1 {
                    @extend .h6;
                    color: $white;

                    a {
                        text-decoration: none;
                    }

                    .sf-hidden {
                        width: 1px !important;
                    }

                    ul {


                        background-color: rgba(255, 255, 255, 0.28);
                        border-radius: 10px;
                        overflow: hidden !important;

                        @include desktop {
                            width: 32em !important;
                            display: flex;
                        }

                        .sf-depth-2 {
                            color: $white;
                            opacity: 1;

                        }

                        .sf-depth-2:hover {
                            color: $black !important;
                        }

                    }

                }


            }

            .sf-accordion-toggle {
                text-align: end;

                a {
                    text-decoration: none;

                    span {
                        font-size: 55px;
                        color: $white;
                    }
                }

                .sf-expanded {
                    background-color: transparent !important;
                }
            }
        }

        .language-switcher-language-url {
            padding-top: 15px;
            .links {
                display: flex;
                gap: 17px;
                background-color: #D9D9D9;
                padding-block: 5px;
                padding-inline: 10px;
                border-radius: 10px;
                align-items: center;

                li {
                    list-style: none;


                    a {
                        text-decoration: none;
                        color: $tertiary;
                        @extend .h6;
                        padding-inline: 8px;
                        padding-block: 3px;

                    }
                }

                .is-active {
                    background-color: $secondary;
                    color: $white;
                    border-radius: 10px;
                    padding-inline: 8px;
                    padding-block: 3px;
                }
            }
        }
        .flex-2{
            display: flex;
            gap: 17px;
            @include desktop {
                align-items: center;
            }
        }
    }
}