.header_wrapper {
    width: 100%;

    .logo-with-lan-switcher {
        background-color: $off-white;

        .flex {
            display: flex;
            justify-content: space-between;
            padding-block: 11px;
            @extend .container;
            align-items: center;

            #block-sass-theme-msd-sitebranding,
            #block-sass-theme-msd-sitebranding--2 {
                a {
                    img {
                        width: 66px;
                        height: 29px;
                        object-fit: cover;

                        @include tablet {
                            width: 93px;
                            height: 41px;
                        }

                        @include desktop {
                            width: 146px;
                            height: 63px;
                        }
                    }
                }
            }

            .language-switcher-language-url {

                .links {
                    display: flex;
                    gap: 17px;
                    background-color: #D9D9D9;
                    padding-block: 5px;
                    padding-inline: 10px;
                    border-radius: 10px;
                    align-items: center;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: $tertiary;
                            @extend .h6;
                            padding-inline: 8px;
                            padding-block: 3px;
                        }
                    }

                    .is-active {
                        background-color: $secondary;
                        color: $white;
                        border-radius: 10px;
                        padding-inline: 8px;
                        padding-block: 3px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.menu {
    background-color: $secondary;

    #block-sass-theme-msd-mainnavigation,
    #block-sass-theme-msd-mainnavigation--2 {
        @include desktop {
            .sf-expanded {
                background-color: $secondary;
                border-radius: 10px;


                li {
                    a {
                        color: black !important;
                    }
                }
            }
        }

        .sf-menu {
            display: block;
            position: absolute;
            right: 0px;
            width: 45%;
            border-radius: 0px 0px 10px 10px;

            [dir="rtl"] & {
                left: 0px !important;

            }

            @include desktop {
                position: relative;
                right: 0px;
                width: 100%;

             

            }

            .sf-depth-1 {
                @extend .body1;
                color: $white;




                a {
                    text-decoration: none;
                }

                ul {
                    background-image: url('../images/pattern.png');
                    border-radius: 10px;
                    overflow: hidden !important;


                    @include desktop {
                        width: 32em !important;
                        display: flex;
                    }

                    .sf-depth-2 {
                        color: $black;
                        opacity: 1;

                    }

                    .sf-depth-2:hover {
                        color: $black !important;
                    }

                    &::before {
                        content: "";
                        background: var(--colors-THIRD-COLOR-OFF-WHITE, rgba(250, 250, 250, 0.90));
                        z-index: 1;
                        inset: 0;
                        position: absolute;

                    }

                }

            }

            .sfHover {
                ul {
                    margin-top: 10px;
                    width: 60em !important;

                    [dir="ltr"] & {
                        transform: translate(-15%);
                    }


                    li {
                        text-align: center;

                        a {
                            padding: 12px 16px;

                        }
                    }

                    [dir="rtl"] & {
                        transform: translate(7%);
                    }
                }

            }

            @include desktop-sm {
                width: 45% !important;

            }
            @include desktop {
                width: 100% !important;

            }

        }

        .sf-accordion-toggle {
            text-align: end;
            margin-right: 20px;

            a {
                text-decoration: none;

                span {
                    font-size: 55px;
                    color: $white;
                }
            }

            .sf-expanded {
                background-color: transparent !important;

            }

            [dir="rtl"] & {
                margin-left: 20px;
            }
        }
    }

    .flex-2 {
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;

        @include tablet {
            gap: 14px;
        }

        @include desktop {
            gap: 6px;
            padding-inline: 100px !important;
            margin-inline: auto !important;
            max-width: 1440px;

        }
    }

}

.sf-sub-indicator {
    right: 0 !important;
    left: 6em !important;
  
    [dir="rtl"] & {
        right: 90px !important;
    }
  
    @include desktop {
        left: 90px !important;
  
        [dir="rtl"] & {
            left: 0px !important;
            right: auto !important;
  
        }
  
    }
    &::after{
        content: "" !important;
        background-image: url(../icons/Untitled-3.svg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        width: 15px;
        height: 15px;
        
    }
  }
ul.sf-menu a {
    padding: 12px 19px;
    @include desktop {
        padding: 12px 11px;
        [dir="rtl"] & {
            padding: 12px 25px !important;
        }
    }
    @include desktop-md {
        padding: 12px 19px;
        [dir="rtl"] & {
            padding: 12px 30px !important;
        }
    }

}

ul.sf-menu .sf-with-ul {

    padding-right: 45px;

    [dir="rtl"] & {
        padding-right: 20px !important;
    }
}



