.college {
    .college-info {
        .profile-main-wrapper {
            padding-block: 60px;

            .profile-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .profile-image {
                    width: 324px;
                    height: 324px;

                    @include desktop {
                        width: 400px;
                        height: 400px;
                    }


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;

                    }
                }

                .profile-title {
                    padding: 10px;

                    .field-items {
                        h2 {
                            @extend .h6;
                            color: $tertiary;
                            text-align: center;

                        }
                    }
                }

                .profile-label {
                    .field-items {
                        h2 {
                            @extend .body2;
                        }
                    }
                }
            }
        }
    }


    .college-content {
        .college-bio {
            .college-button {
                padding-block: 10px;

                a {
                    text-decoration: none;
                    font-family: $font_tajawal;
                    color: $tertiary;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;

                    @include tablet {
                        font-size: 22px;
                        line-height: 32px;
                    }

                    @include desktop {
                        font-size: 24px;
                    }

                }
            }

            p {
                @extend .body2;
            }

            grid-column: 1/-1;

            @include tablet {
                grid-column: 1/7;
            }

            @include desktop {
                grid-column: 1/9;
            }

        }

        .college-social-links {
            border-left: 1px solid $secondary;
            grid-column: 1/-1;
            grid-row: 1/2;

            [dir="rtl"] & {
                border-right: 1px solid $secondary;
                border-left: 0px;
            }

            @include tablet {
                grid-column: 7/-1
            }

            @include desktop {
                grid-column: 11/-1;
            }
        }

        .paragraph--type--icon-link-wrapper {
            padding: 20px;

            .paragraph--type--icon-link {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-block: 25px;

                .svg-inline--fa {
                    width: 30px;
                    height: 30px;

                    path {
                        fill: $secondary;
                    }

                }

                a {
                    text-decoration: none;
                    @extend .h5;
                    color: $tertiary !important;

                }
            }
        }

    }

    .college-achievements {
        padding-block: 60px;

        ul {
            li {
                @extend .body2;
            }
        }
    }
}




//profile 2//


.profile-content-wrapper {
    display: flex;
    gap: 125px;

    .profile-left {
        .profile-table {
            width: 485px;
            height: 335px;
            border-collapse: separate;
            border-spacing: 0;
            background: $light-gray;
            border-radius: 10px;
            overflow: hidden;

        }

        .profile-table td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;

            .field-items {
                h2 {
                    @extend .h6;
                    color: $tertiary;
                    text-align: left;
                }
            }
        }


        .profile-table td:first-child {
            font-weight: bold;
            width: 40%;

            strong {
                @extend .h6;
            }

        }

        .profile-table tr:first-child td:first-child {
            border-top-left-radius: 10px;
        }

        .profile-table tr:first-child td:last-child {
            border-top-right-radius: 10px;
        }

        .profile-table tr:last-child td:first-child {
            border-bottom-left-radius: 10px;
        }

        .profile-table tr:last-child td:last-child {
            border-bottom-right-radius: 10px;
        }

    }


    .profile-right {
        padding-bottom: 50px;

        .profile-image {
            width: 610px;
            height: 406px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;

            }

        }

        .profile-value {
            padding-block: 20px 8px;

            h6 {
                color: #464646;
            }
        }

        .profile-email {
            @extend .body2;
            color: #464646;
        }

        .profile-contact {
            padding-block: 5px;

            .field-items {

                h2 {
                    @extend .body2;
                    color: #464646;
                }
            }
        }

        .profile-cv {
            padding-bottom: 5px;

        }

        .paragraph--type--text-with-file {
            .accordion-content {
                display: block;

                .btn {
                    button {
                        border: none;

                        a {
                            text-decoration: none;
                            @extend .body2;
                        }
                    }
                }
            }
        }
    }
}


.field-icon {
    display: flex;
    align-items: center;
    gap: 10px;


    &::before {
        display: inline-block;
        color: #118ab2;
    }

    &.email::before,
    &.phone::before,
    &.cv::before,
    &.calendar::before {
        content: "";
        background-size: cover;
        width: 24px;
        height: 24px;
    }

    &.email::before {
        background-image: url(../icons/email.svg);
    }

    &.phone::before {
        background-image: url(../icons/phone.svg);
    }

    &.cv::before {
        background-image: url(../icons/download-cv.svg);
    }

    &.calendar::before {
        background-image: url(../icons/hours.svg);
    }

}

.ui-dialog {
    top: 13% !important;
  .container {
        padding-inline: 0px !important;
        margin-inline: 0px !important;
        max-width: 0px;
    }

    .ui-dialog-title {
        display: none;
    }

    .ui-dialog-titlebar {
        padding: 30px !important;
        background: none !important;
        border: none !important;
    }

    .profile-right {
        padding-bottom: 0px;
        .profile-image {
            width: 500px;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }


   



}