<div class="news-page-view">
  <div class="news-page-view-date-des">
    <div class="news-page-view-date">
      <h5>
{{fields.field_date.content}}
</h5>
</div>
<div class="news-page-view-image">
{{fields.field_image.content}}
</div>
</div>
<div class="news-page-view-description">
{{fields.field_description.content}}
</div>
</div>
