<div class="events">
  <div class="events-date">
  <h5>
   {{fields.field_date.content}}
   </h5>
</div>
<div class="events-image">
<a href="{{ fields.view_node.content }}">
  {{ fields.field_image.content }}
</a>
</div>
<div class="events-description">
  {{fields.field_description.content}}
  
</div>
</div>