<div class="events">
  <div class="Events-date">
   
   {{fields.field_date.content}}

</div>
<div class="Events-image">
  {{fields.field_image.content}}
  </div>
<div class="Events-description">
  {{fields.field_description.content}}
  </div>
   {{fields.field_is_feature.content}}
</div>