<div class="news-content">
  <div class="news-image">
{{fields.field_image.content}}
 <div class="gradient-overlay"></div>
</div>
<div class="news-description">
<div class="news-date">
    <h5>
    {{fields.field_date.content}}
    </h5>
</div>
<div class="news-detail">
<h6>
 {{fields.field_achievements.content}}
 </h6>
  </div>
 </div>
 </div>

