<div class="events-page-view">
  <div class="events-page-view-image">
{{fields.field_image.content}}
</div>
<div class="events-page-view-date">
{{fields.	field_date.content}}
</div>
<div class="events-page-view-description">
{{fields.field_description.content}}
</div>
</div>