{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div class="node-block-news grid">
  {% for row in rows %}
    {% set row_classes = [ default_row_class ? 'views-row' ] %}
    {% set content = row.content|render %}
    
    {# Only print if visible content exists #}
    {% if content|striptags|trim %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ content }}
      </div>
    {% endif %}
  {% endfor %}
</div>

