<div  data-aos="fade-up" data-aos-duration="1000">
  <div class="icon-link-bg-color">
    <div class="icon-link-label container">
      {{content.field_label}}
    </div>
  
    <div class="grid container">
      {{content.field_icon_link}}
    </div>
  </div>
</div>
