<div class="accreditation-title">
  {{ content.field_accreditations_title }}
</div>

  <div class="container accreditation-bg-color accreditation-main-wrapper grid">
   
    {{ content.field_accreditations }}
    </div>
    

<div class="space-line"></div>