<div class="accreditation-title">
  {{ content.field_accreditations_title }}
</div>
<div class="accreditation-bg-color">
  <div class="container accreditation-main-wrapper grid">
   {{ content.field_accreditations }}
    </div>
</div>

<div class="space-line"></div>