{#
  /**
   * @file
   * Default theme implementation to display a paragraph.
   *
   * Available variables:
   * - paragraph: Full paragraph entity.
   * - content: All paragraph items.
   * - attributes: HTML attributes for the containing element.
   *
   * @see template_preprocess_paragraph()
   * @ingroup themeable
   */
  #}
{%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished'
    ]
  %}

{% set style = paragraph.field_style.value %}


{% block paragraph %}
	<div {{ attributes.addClass(classes) }}>
		{% block content %}
		
      <div class="icon-wrapper">
				<a href="{{ content.field_link.0['#url'] }}" title="{{ content.field_link.0['#title'] }}" target="_blank">
					
				</a>
			</div>

		{% endblock content %}
	</div>
{% endblock paragraph %}
