<div  data-aos="fade-up" data-aos-duration="1000">
  <div class="accreditation-bg-color">
    <div class="accreditation-title">
    {{ content.field_accreditations_title }}
  </div>
    <div class="container accreditation-main-wrapper grid">
     {{ content.field_accreditations }}
      </div>
  </div>
  
  <div class="space-line"></div>
</div>
