<div class="right_section">
  <div class="circle-wrapper">
    <div class="background-circle"></div>
    <div class="image-circle">
      {{ content.field_image }}
    </div>
    <div class="arc-circle"></div>
  </div>
  <div class="label">
    {% for item in paragraph.field_label %}
    <div class="label-item label-item--{{ loop.index }}">
      {{ item.value }}
    </div>
    {% endfor %}
  </div>
</div>

composer require 'drupal/block_field:^1.0@RC'