@charset "UTF-8";
/* One should use it like this

.example {
  font-size: calculate-values (12, 20, 768, 1280);
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg.png");
  margin: 0;
  padding: 0;
}

.hide-on-mobile {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-mobile {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-mobile {
    display: block !important;
  }
}

.hide-on-tablet-n-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}

.hide-on-tablet {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet {
    display: block !important;
  }
}

.hide-on-tablet-n-moblie {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-moblie {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-moblie {
    display: block !important;
  }
}

.grey-color {
  font-size: 14px;
  color: #232323;
}

/* stylelint-disable */
.h1,
h1 {
  font-family: Work_Sans, sans-serif;
  font-size: 28px;
  line-height: 140%;
  font-weight: 600;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 38px;
    line-height: 120%;
  }
}
@media (min-width: 1280px) {
  .h1,
  h1 {
    font-size: 51px;
    line-height: 110%;
  }
}

.h2,
h2 {
  font-family: Work_Sans, sans-serif;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 1280px) {
  .h2,
  h2 {
    font-size: 38px;
    line-height: 120%;
  }
}

.h3,
h3 {
  font-family: Work_Sans, sans-serif;
  font-size: 22px;
  line-height: 160%;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 768px) {
  .h3,
  h3 {
    line-height: 160%;
  }
}
@media (min-width: 1280px) {
  .h3,
  h3 {
    font-size: 28px;
    line-height: 140%;
  }
}

.h4,
h4 {
  font-family: Work_Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 1280px) {
  .h4,
  h4 {
    font-size: 22px;
    line-height: 160%;
  }
}

.h5,
h5 {
  font-family: Work_Sans, sans-serif;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

p, .sing_button {
  font-family: Work_Sans, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  font-weight: 400;
}
@media (min-width: 1280px) {
  p, .sing_button {
    font-size: 22px;
    line-height: 160%;
  }
}

.body1 {
  font-family: Work_Sans, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.body2 {
  font-family: Work_Sans, sans-serif;
  font-size: 12px;
  line-height: 110%;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
@media (min-width: 768px) {
  .body2 {
    font-size: 16px;
    line-height: 140%;
  }
}

.body3 {
  font-family: Work_Sans, sans-serif;
  font-size: 12px;
  line-height: 110%;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.body4 {
  font-family: Work_Sans, sans-serif;
  font-size: 38px;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
}

.body5 {
  font-family: Work_Sans, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .body5 {
    font-size: 22px;
  }
}

.body6 {
  font-family: Work_Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
@media (min-width: 768px) {
  .body6 {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .body6 {
    font-size: 16px;
    line-height: 22.4px;
  }
}

.sing_button {
  background-color: #A259FF;
  width: 152px;
  border-radius: 20px;
}

.get_button {
  font-family: Work_Sans, sans-serif;
  font-size: 16px;
  background-color: #A259FF;
  border: 0;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  padding-block: 15px;
  padding-inline: 30px;
}

.view_button {
  font-size: 16px;
  font-family: Work_Sans, sans-serif;
  color: #fff;
  line-height: 140%;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 15px 25px;
  text-decoration: none;
}

.see_button, .right_section .program_type {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  font-family: Work_Sans, sans-serif;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  text-align: center;
  padding-block: 12px;
}
@media (min-width: 1280px) {
  .see_button, .right_section .program_type {
    padding: 21px 45px;
  }
}

.nft_button {
  font-size: 16px;
  font-family: Work_Sans, sans-serif;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 20px;
}

.email_button {
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 20px;
}

.subscribe_button {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  padding: 12px;
  background-color: #A259FF;
  color: #fff;
  border: 0;
  border-radius: 20px;
}

.copy_button {
  font-size: 16px;
  background-color: #A259FF;
  border: 0;
  border-radius: 20px;
}

.bid_button {
  font-size: 16px;
  background-color: #A259FF;
  border: 0;
  border-radius: 20px;
}

.line {
  margin-block: 40px;
  width: 100%;
  height: 5px;
}

.s-line {
  margin-block: 20px;
  width: 100%;
  height: 5px;
}

button {
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: Space_Mono;
  src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: Space_Mono;
  src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Work_Sans;
  src: url(../fonts/Work_Sans/WorkSans-Light.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Work_Sans;
  src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Work_Sans;
  src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
.container {
  padding-inline: 15px !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 25px !important;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-inline: 40px !important;
    margin-inline: auto !important;
    max-width: 1280px;
  }
}

.icon-google-plus {
  background-image: url("../icons/icon3.png");
}

.icon-discord {
  background-image: url("../icons/icon4.png");
}

.icon-youtube {
  background-image: url("../icons/icon5.png");
}

.icon-twitter {
  background-image: url("../icons/icon6.png");
}

.icon-instagram {
  background-image: url("../icons/icon7.png");
}

.success-message {
  position: fixed;
  z-index: 5;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #cfe8d3;
  border-radius: 8px;
  background-color: #f1f8f4;
}
.success-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "✓";
  transform: translate(30%, -50%);
  color: #51dc6c;
  border: 10px solid #51dc6c;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
}

.error-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ecc1b6;
  border-radius: 8px;
  background-color: #faeeea;
}
.error-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "❌";
  transform: translate(30%, -50%);
  color: #fb5858;
  border: 10px solid #fb5858;
  border-radius: 50%;
  background-color: white;
  font-size: 11px;
}

.info-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ffd56c;
  border-radius: 8px;
  background-color: #fff9c4;
}
.info-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "!";
  transform: translate(30%, -50%);
  color: #e9ba43;
  border: 10px solid #e9ba43;
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  font-weight: bold;
}

.message-wrapper {
  position: relative;
}
.message-wrapper .cross {
  position: absolute;
  top: -8px;
  right: 4px;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.primary-tabs {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  list-style: none;
  border-bottom: 2px solid black;
  background: white;
  gap: 1rem;
  padding-top: 4px;
}
.primary-tabs li a {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.primary-tabs li a.is-active {
  display: inline-block;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: black;
}
@media (min-width: 768px) {
  .primary-tabs {
    position: unset;
    flex-direction: row;
    width: 100%;
  }
}

.hero_section .bg_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
}
.hero_section .hero_section-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_university {
  width: 60%;
  z-index: 2;
}

[dir=rtl] h1 {
  font-size: 25px;
  color: red;
}

[dir=rtl] p, [dir=rtl] .sing_button {
  font-size: 25px;
  color: yellowgreen;
}

[dir=rtl] p button, [dir=rtl] .sing_button button {
  font-size: 25px;
  color: black;
  background-color: salmon;
}

.right_section {
  position: relative;
  z-index: 3;
}
.right_section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.right_section .circle-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}
.right_section .background-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c7b285;
  /* Beige/khaki */
  border-radius: 50%;
  z-index: 0;
}
.right_section .image-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.right_section .image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right_section .arc-circle {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border-top: 8px solid #0082A4;
  /* Blue */
  border-bottom: 8px solid #0082A4;
  border-left: 8px solid transparent;
  border-right: 8px solid #0082A4;
  transform: rotate(90deg);
  top: -20px;
  left: -20px;
  z-index: 2;
}
.right_section .label .label-item {
  color: white;
  padding-block: 25px;
  background-color: #c7b285;
  border-radius: 50%;
  font-size: 19px;
  text-align: center;
  width: 100px;
  position: absolute;
  z-index: 12;
}
.right_section .label .label-item--1 {
  top: 25%;
  left: -25%;
}
.right_section .label .label-item--2 {
  top: 25%;
  right: -25%;
}
.right_section .label .label-item--3 {
  top: 92%;
  left: 35%;
  padding-block: 35px;
}
.primary-word {
  color: #AE9A64;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
