/* One should use it like this

.example {
  font-size: calculate-values (12, 20, 768, 1280);
*/
/* stylelint-disable */
/* stylelint-enable */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

body {
  margin: 0;
}

.slick-initialized {
  overflow: hidden;
}

h1 {
  font-family: myriadpro-regular, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 75px;
  color: #FFFFFF;
  letter-spacing: 0%;
}

h3 {
  font-family: myriadpro-regular, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #006B8D;
  letter-spacing: 0%;
}
@media (min-width: 1280px) {
  h3 {
    font-size: 40px;
    line-height: 60px;
  }
}

h5 {
  font-family: myriadpro-regular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  letter-spacing: 0%;
}
@media (min-width: 1280px) {
  h5 {
    font-size: 30px;
    line-height: 40px;
  }
}

.body2 {
  font-family: myriadpro-regular, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .body2 {
    font-size: 18px;
    line-height: 30px;
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: font-myriad-pro-cufonfonts;
  src: url(/web/themes/custom/sass_theme_msd/fonts/myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
  font-weight: 400;
  font-style: normal;
}
.container {
  padding-inline: 24px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 1rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

.social-icon {
  display: block;
  width: 28px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../icons/social-icons/rounded/facebook.svg");
}

.youtube {
  background-image: url("../icons/social-icons/rounded/youtube.svg");
}

.twitter {
  background-image: url("../icons/social-icons/rounded/twitter.svg");
}

.pinterest {
  background-image: url("../icons/social-icons/rounded/pinterest.svg");
}

.instagram {
  background-image: url("../icons/social-icons/rounded/instagram.svg");
}

.linkedin {
  background-image: url("../icons/social-icons/rounded/linkedin.svg");
}

.googleplus {
  background-image: url("../icons/social-icons/rounded/googleplus.svg");
}

.whatsapp {
  background-image: url("../icons/social-icons/rounded/whatsapp.svg");
}

.snapchat {
  background-image: url("../icons/social-icons/rounded/snapchat.svg");
}

.feed {
  background-image: url("../icons/social-icons/rounded/feed.svg");
}

.flipboard {
  background-image: url("../icons/social-icons/rounded/flipboard.svg");
}

.messenger {
  background-image: url("../icons/social-icons/rounded/messenger.svg");
}

.reddit {
  background-image: url("../icons/social-icons/rounded/reddit.svg");
}

.skype {
  background-image: url("../icons/social-icons/rounded/skype.svg");
}

body {
  overflow-x: hidden;
}

.menubar {
  height: 110px;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}
.menubar .menu-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .menubar .menu-wrapper {
    gap: 80px;
  }
}
.menubar .menu-wrapper .logo-link-wrapper img {
  width: 237px;
  height: 75px;
  object-fit: contain;
}
.menubar .menu-wrapper .menu-main-block {
  position: absolute;
  top: 110px;
  right: 0;
  width: 0;
  background-color: white;
  z-index: 10;
  height: calc(100vh - 110px);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  -webkit-box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -16px 27px 57px -8px rgba(0, 0, 0, 0.75);
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block {
    justify-self: end;
    overflow: unset;
  }
}
.menubar .menu-wrapper .menu-main-block.menu-opened {
  width: 360px;
}
@media (min-width: 768px) {
  .menubar .menu-wrapper .menu-main-block.menu-opened {
    width: 400px;
  }
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block {
    display: block;
    position: unset;
    background: unset;
    top: unset;
    right: unset;
    width: unset;
    height: unset;
    transition: unset;
    transform: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items {
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: start;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    overflow: unset;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item {
  padding: 30px;
  border-bottom: 1px solid rgb(164, 164, 164);
  width: 100%;
  position: relative;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item {
    width: unset;
    padding: 0;
    border-bottom: 0;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item a {
  color: #111010;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item a.is-active {
  color: #738cd1;
  font-weight: 700;
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item[child=yes] {
  position: relative;
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item[child=yes]::after {
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="6" viewBox="0 0 11 6" fill="none"><path d="M1.07324 1L5.00259 4.92935" stroke="%23C23E3E" stroke-width="2" stroke-linecap="round"/><path d="M9.21973 1L5.29038 4.92935" stroke="%23C23E3E" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 7px;
  position: absolute;
  top: 40px;
  translate: -50%;
  left: 50%;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item[child=yes]::after {
    top: 65px;
    translate: -50% 0;
  }
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item[child=yes] {
    display: flex;
    height: 100px;
    align-items: center;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item:hover > .menu-items {
  display: block;
  padding-top: 1rem;
  padding-left: 2rem;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item:hover > .menu-items {
    padding: 8px 1rem;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item .menu-items {
  display: none;
  padding: 0;
  list-style: none;
  background: white;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item .menu-items {
    position: absolute;
    box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 17px -2px rgba(0, 0, 0, 0.75);
    padding: 8px 1rem;
    border-radius: 4px;
    width: 200px;
    top: 80px;
  }
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item .menu-items > .menu-item {
  padding-bottom: 8px;
  padding-top: 8px;
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item .menu-items > .menu-item:hover {
  border-bottom: 1px solid black;
}
.menubar .menu-wrapper .menu-main-block > .menu-items > .menu-item .menu-items > .menu-item:last-child {
  border-bottom: 0;
}
.menubar .menu-wrapper .hamburger {
  justify-self: flex-end;
  cursor: pointer;
}
.menubar .menu-wrapper .hamburger svg {
  width: 40px;
  height: 40px;
}
.menubar .menu-wrapper .hamburger.closed-menu {
  display: block;
}
@media (min-width: 1280px) {
  .menubar .menu-wrapper .hamburger.closed-menu {
    display: none;
  }
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}
@media (min-width: 1280px) {
  .overflow-hidden {
    overflow: unset;
  }
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 110px;
  width: 100%;
  height: calc(100vh - 110px);
  background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 1280px) {
  .overlay::after {
    content: unset;
  }
}

/*# sourceMappingURL=style.css.map */
