@charset "UTF-8";
/* One should use it like this

.example {
  font-size: calculate-values (12, 20, 768, 1280);
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/pattren.png");
  margin: 0;
  padding: 0;
  position: relative;
}

.hide-on-mobile {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-mobile {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-mobile {
    display: block !important;
  }
}

.hide-on-tablet-n-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}

.hide-on-tablet {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet {
    display: block !important;
  }
}

.hide-on-tablet-n-moblie {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-moblie {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-moblie {
    display: block !important;
  }
}

.h1,
h1 {
  font-family: myriad_pro, sans-serif;
  font-size: 56px;
  line-height: 75px;
}

.h2,
h2 {
  font-family: myriad_pro, sans-serif;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
}

.h3,
h3 {
  font-family: myriad_pro, sans-serif;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
}

.h4,
h4 {
  font-family: myriad_pro, sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.h5, .hero .program-buttons .program-item,
h5 {
  font-family: myriad_pro, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.h6, .hero .content .see_btn .btn, .header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1, .button,
h6 {
  font-family: myriad_pro, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}

.body1, .hero .content p {
  font-family: myriad_pro, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.body2 {
  font-family: myriad_pro, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #706F6F;
}

.button {
  border-radius: 20px;
}

.program_button, .hero .program-buttons .program-item {
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000 !important;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.see_button, .hero .content .see_btn .btn {
  padding: 10px 50px;
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  transition: background 0.3s ease;
}

@font-face {
  font-family: myriad_pro;
  src: url(../fonts/Myriad_pro/MYRIADPRO-BOLD.OTF);
  font-weight: 400;
}
@font-face {
  font-family: myriad_pro;
  src: url(../fonts/Myriad_pro/MYRIADPRO-REGULAR.OTF);
}
.container {
  padding-inline: 15px !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 25px !important;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-inline: 100px !important;
    margin-inline: auto !important;
    max-width: 1280px;
  }
}

.icon-google-plus {
  background-image: url("../icons/icon3.png");
}

.icon-discord {
  background-image: url("../icons/icon4.png");
}

.icon-youtube {
  background-image: url("../icons/icon5.png");
}

.icon-twitter {
  background-image: url("../icons/icon6.png");
}

.icon-instagram {
  background-image: url("../icons/icon7.png");
}

.success-message {
  position: fixed;
  z-index: 5;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #cfe8d3;
  border-radius: 8px;
  background-color: #f1f8f4;
}
.success-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "✓";
  transform: translate(30%, -50%);
  color: #51dc6c;
  border: 10px solid #51dc6c;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
}

.error-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ecc1b6;
  border-radius: 8px;
  background-color: #faeeea;
}
.error-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "❌";
  transform: translate(30%, -50%);
  color: #fb5858;
  border: 10px solid #fb5858;
  border-radius: 50%;
  background-color: white;
  font-size: 11px;
}

.info-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ffd56c;
  border-radius: 8px;
  background-color: #fff9c4;
}
.info-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "!";
  transform: translate(30%, -50%);
  color: #e9ba43;
  border: 10px solid #e9ba43;
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  font-weight: bold;
}

.message-wrapper {
  position: relative;
}
.message-wrapper .cross {
  position: absolute;
  top: -8px;
  right: 4px;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.primary-tabs {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  list-style: none;
  border-bottom: 2px solid black;
  background: white;
  gap: 1rem;
  padding-top: 4px;
}
.primary-tabs li a {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.primary-tabs li a.is-active {
  display: inline-block;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: black;
}
@media (min-width: 768px) {
  .primary-tabs {
    position: unset;
    flex-direction: row;
    width: 100%;
  }
}

.header_wrapper {
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding-inline: 100px;
}
.header_wrapper .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1 {
  color: #fff;
}
.header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1 a {
  text-decoration: none;
}
.header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1 ul {
  display: flex;
  background-color: #FFFFFF;
  width: 30em !important;
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  overflow: hidden;
}
.header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1 ul .sf-depth-2 {
  color: #fff;
  opacity: 1;
}
.header_wrapper .flex #block-sass-theme-msd-mainnavigation .sf-menu .sf-depth-1 ul .sf-depth-2:hover {
  color: #000 !important;
}

.hero .background-slider {
  grid-column: 1/-1;
  grid-row: 1/3;
  height: 800px;
}
.hero .background-slider .slick-list .slick-track {
  width: 100%;
}
.hero .background-slider .slick-list .slick-track img {
  width: 100%;
  height: 800px !important;
  object-fit: cover;
  z-index: 5 !important;
}
.hero .content {
  grid-column: 2/7;
  z-index: 1;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0);
}
.hero .content h1 {
  color: #fff;
}
.hero .content span {
  color: #AE9A64;
}
.hero .content p {
  margin-block: 20px;
  color: #fff;
}
.hero .content .see_btn {
  margin-top: 20px;
}
.hero .content .see_btn .btn {
  color: #fff;
  font-size: 16px;
}
.hero .content .see_btn .btn:hover {
  background-color: rgba(163, 145, 97, 0.6980392157);
  color: #fff !important;
}
.hero .program-buttons {
  grid-column: 1/-1;
  grid-row: 2/2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 2;
}
.hero .program-buttons .program-item:hover {
  background-color: rgba(163, 145, 97, 0.6980392157);
  color: #fff !important;
}
.hero .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.hero .presentation {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: white !important;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.hero .presentation.active {
  background-color: #006B8D !important;
}

.news-header {
  padding-block: 30px;
}
.news-header h2 {
  text-align: center;
}

.news-child-one {
  grid-column: span 6;
  grid-row: 1/4;
}
.news-child-one .news-content {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.news-child-one .news-content .news-image {
  height: 377px;
}
.news-child-one .news-content .news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news-child-one .news-content .news-image .gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5rem;
  background: linear-gradient(to top, rgb(174, 154, 100) 0%, rgba(160, 120, 50, 0.7) 30%, rgba(160, 120, 50, 0.4) 60%, rgba(160, 120, 50, 0) 100%);
  color: white;
}
.news-child-one .news-content .news-description {
  position: absolute;
  top: 70%;
  left: 5%;
}
.news-child-one .news-content .news-date h6 {
  color: #fff !important;
}
.news-child-one .news-detail span {
  color: #fff;
}

.news-child {
  grid-column: span 6;
}
.news-child .news-content {
  display: flex;
  gap: 20px;
}
.news-child .news-content .news-image {
  height: 112px;
}
.news-child .news-content .news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.news-child .news-content .news-description {
  flex: 1;
}
.news-child .news-detail span {
  color: #706F6F;
}

.button {
  text-align: center;
  margin-block: 30px;
}
.button button {
  padding: 10px 50px 10px 50px;
  border: 1px solid #706F6F;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.button a {
  text-decoration: none;
  color: rgb(112, 111, 111);
}

.views-row .news-page-view {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-inline: 100px;
}
.views-row .news-page-view-image {
  width: 610px;
  height: 487px;
}
.views-row .news-page-view-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.views-row p {
  color: #706F6F;
  font-size: 16px;
  line-height: 26px;
}
.views-row p span {
  color: #006B8D;
  font-size: 36px;
  line-height: 45px;
}
.views-row .news-page-view-date {
  margin-block: 10px;
}
.views-row .news-page-view-date h5 {
  color: #006B8D !important;
}

.views-row:nth-of-type(odd) .news-page-view {
  flex-direction: row-reverse;
}
.views-row:nth-of-type(odd) .news-page-view .news-page-view-date h5 {
  text-align: right;
}

.views-row {
  grid-column: span 4;
}

.Events-header {
  text-align: center;
  margin-block: 30px;
}

.events {
  overflow: hidden;
  position: relative;
}
.events .Events-image {
  height: 231px;
}
.events .Events-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.events .Events-date {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 30px 10px 30px 10px;
  background-color: #AE9A64;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
}
.events .Events-description {
  text-align: center;
  padding: 15px;
}
.events .Events-description h5 {
  color: #006B8D !important;
}

.button {
  text-align: center;
  margin-block: 30px;
}
.button button {
  padding: 10px 50px 10px 50px;
  border: 1px solid #706F6F;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
}
.button a {
  text-decoration: none;
  color: rgb(112, 111, 111);
}

.views-row {
  grid-column: span 4;
}
.views-row .events-page-view {
  overflow: hidden;
  position: relative;
}
.views-row .events-page-view .events-page-view-image {
  height: 231px;
}
.views-row .events-page-view .events-page-view-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.views-row .events-page-view-date {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 30px 10px 30px 10px;
  background-color: #AE9A64;
  border-radius: 10px 0px 10px 0px;
  color: #fff;
}
.views-row .events-page-view-description {
  text-align: center;
  padding: 15px;
}
.views-row .events-page-view-description h5 {
  color: #006B8D !important;
}

.events-node {
  justify-self: center;
}
.events-node .events-node-date h5 {
  color: #006B8D !important;
}
.events-node .events-node-image {
  width: 1030px;
  height: 480px;
}
.events-node .events-node-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.events-node .events-node-description {
  margin-block: 30px;
}
.events-node .events-node-description h5 {
  color: #006B8D !important;
}

.description {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 100px;
}
.description img {
  width: 505px;
  height: 279px;
  object-fit: cover;
  object-position: center;
}

.description-wrapper:nth-of-type(odd) .description {
  flex-direction: row-reverse;
}
.description-wrapper:nth-of-type(odd) .description img {
  width: 505px;
  height: 516px;
  object-fit: cover;
  object-position: center;
}

.description-wrapper:nth-child(4) .description img {
  width: 510px;
  height: 510px;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
